* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    background-image: radial-gradient(circle, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    width: 350px;
    height: 56px;
    margin: auto;
}

.main h1 {
    text-align: center;
    color: rgb(3, 43, 92);
    background-color: #2ee74d;
    margin: .5rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.card-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards {
    margin: 1rem 1.5rem;
    width: 280px;
    height: 350px;
    border-radius: 8px;
    background-color: #48d15a44;
    box-shadow: 10px 12px 10px -4px rgba(20, 19, 20, 1);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cards img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.color {
    color: rgb(51, 46, 46);
}

.profileBtn {
    padding: 10px;
    text-decoration: none;
    background-color: #f5f5dc;
    border-radius: 4px;
    color: #40b68f;
    cursor: pointer;
}

.profileBtn:hover {
    padding: 10px;
    text-decoration: none;
    background-color: #ff4500;
    border-radius: 4px;
    color: #f0ffff;
    transition: 1s;
}

footer {
    text-align: center;
    background-color: rgb(5, 28, 57);
    color: #f5f5f5;
    width: 100%;
    margin-top: auto;
}

footer p{
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
}